---
export const prerender = false;
---

<html>
<head>
    <title>Admin Test</title>
</head>
<body>
    <h1>Admin Test Page Working!</h1>
    <p>If you can see this, admin routing is working correctly.</p>
    <p><a href="/admin/redirects">Go to Redirects Page</a></p>
    <p><a href="/">Back to Home</a></p>
</body>
</html>